.picture{
	padding: 15px 10px;
	text-align: center;
	background: #CCCCCC;
	margin-bottom: 10px;
}
.picture .pic_nei{
	padding: 20px 10px;
	width: 100px;
	height: 100px;
	border: 2px dotted #665;
	margin: 0 auto;
}
.mui-input-group{
	padding:0 10px 10px 10px;
	/*margin-top: 10px;*/
}
.mui-input-row{
	padding: 5px 0;
	position: initial;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 5px;
	/*display: none;*/
}

.mui-input-row label{
	width: 30%;
	line-height: 1;
	/*letter-spacing:0.3em;*/
	padding: 5px 10px;
	/*text-align: center;*/
	border-right: 1px solid #ccc;
}
.mui-input-row label~input{
	float: left;
	width: 55%;
}
.mui-input-row input{
	padding: 5px 10px;
	height: 30px;
	text-indent: 1em;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.mui-input-row span{
	display: block;
	width: 15%;
	float: right;
	font-size: 14px;
	color: #C7C7CC;
	text-align: left;
	line-height: 30px;
	letter-spacing:0.2em;
}
.mui-input-row select{
	text-indent: 1em;
	height: 30px;
}
.mui-input-row select option{
	display: block;
	text-indent: 2em;
	border-bottom: 1px solid #ccc;
}

/*类型*/
#suspend{
   width: 100%;
   display: none;
 }
 #suspend.sus_dis{
 	display: block;
 }
#suspend ul{
	width: 94%;
	padding: 20px 10px;
    position: absolute;
    background: #fff;
	/*color: #fff;*/
	z-index: 9999;
	top: 0;
}
#suspend ul li{
	padding: 10px;
	color: #666;
	border-bottom: 1px solid #ccc;
}
#shade{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #929292;
	top: 0;
	left: 0;
	z-index: 11;
	opacity: .5;
}
/*类型end*/

/*描述*/
#describe{
   width: 100%;
   display: none;
}
#describe.des_dis{
 	display: block;
 }
#describe .des_nei{
	width: 94%;
	padding: 20px 10px;
    position: absolute;
    background: #fff;
	/*color: #fff;*/
	z-index: 9999;
	top: 0;
}
#describe .des_nei textarea{
	height: 300px;
	overflow: hidden;
	font-size: 14px;
	padding: 0;
}
#describe .des_nei .nei_sm{
	height: 30px;
}
#describe .des_nei .nei_sm .mui-pull-left{
	font-size: 12px;
}
#i_color{
	color: #f0f;
	font-style: normal;
}
#describe .des_nei .nei_sm .mui-pull-right .mui-icon-trash{
	color: #666;
}
#describe .des_nei button{
	width: 100%;
	height: 30px;
	background: #f0f;
	border: 1px solid #f0f;
	color: #fff;
	margin-top: 10px;
}
/*描述end*/

/*身份*/
#identity{
	width: 50%;
	height: 30px;
	text-indent: 1em;
	overflow: hidden;
	margin: 0 auto;
	padding: 5px 0;
}
#identity span{
	width: 50%;
	border: 1px solid firebrick;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	color: firebrick;
	line-height: 20px;
	text-align: center;
}
#identity span.span_color{
	background: firebrick;
	color: #fff;
}
/*身份end*/

.mui-input-group .smsy{
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 15px 10px 20px 10px;
}
#but{
	border: 1px solid #f0f;
	width: 100%;
	height: 30px;
	color: #fff;
	letter-spacing:0.5em;
	text-align: center;
	background: #f0f;
	position: relative;
	top: 5px;
	bottom: 5px;
}