/*头部*/
.mui-bar-nav{
	background: #F0f;
}
.mui-bar .mui-title{
	color: #fff;
}
.mune_up{
	background: #FF5053;
	color: #fff;
	padding: 30px 40px;
}
.mune_up .register{
	height: 30px;
	width: 100%;
}
.mune_up .register h2{
	font-size: 20px;
}
.mune_up .register a{
	color: #fff;
	/*margin-left: 30px;*/
	position: relative;
	left: 10px;
	top: 3px;
}
.mune_up p{
	font-size: 24px;
	color: #fff;
	margin-top: 10px;
}
/*头部end*/

/*主体*/
.mui-table-view{
	margin-top: 10px;
}
.mui-table-view .mui-media-object.mui-pull-left{
	margin-right: 20px;
}
.mui-table-view .mui-media-body{
	height: 42px;
	line-height: 42px;
	color: #666;
}
.mui-table-view i{
	color: #FF00FF;
}
/*主体end*/

/*会员*/
#huiYuan{
	color: #fff;
	display: inline-block;
	vertical-align:top;
	padding: 10px 0;
}
.members{
	position: fixed;
	left: 5%;
	width: 90%;
	bottom: 80px;
	background-color: #fff;
	color: #666;
	padding: 10px;
	margin: 0;
	z-index: 99;
	border-radius: 10px;
}
.members li{
	list-style-type: none;
	text-align: left;
	padding: 10px 30px;
	border-bottom: 1px solid #ccc;
	position: relative;
	font-size: 16px;
}
.members li:nth-child(4){
	text-align: center;
	border: 0;
}
.members li:nth-child(4) h4{
	color: #333;
	text-align: left;
}
.members li i{
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #ccc;
	position: absolute;
	right: 20px;
	top: 10px;
	border-radius: 50%;
	color: #f0f;
}
.members li b{
	color: #f0f;
}
.members li button{
	border: #fff;
	background-color: #f0f;
	color: #fff;
}
#mem_fu{
	width:100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	z-index: 9;
	top: 0;
	left: 0;
	opacity: .6;
}
/*底部导航*/
.mui-bar-tab .iconfont{
	display: block;
	position: relative;
	top:3px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    padding-top: 0;
    margin: 0 auto;
}
.mui-tab-label{
	font-size: 14px;
}


.mui-bar-tab .mui-tab-item.mui-active{
	color: #666;
}
/*底部导航end*/