.mui-input-group{
	padding: 10px;
	text-align: center;
}
#gruop.gr_dis{
	display: none;
}
.mui-input-row input{
	border: 1px solid #C8C7CC;
	border-radius: 5px;
	color: #000;
	text-align: left;
}
.mui-input-group button{
	margin-top: 10px;
	width: 100%;
	border: 1px solid #FF0000;
	background: #CF2D28;
	color: #fff;
	/*letter-spacing:5px;*/
	font-size: 16px;
	font-weight: 600;
}
.mui-input-group .group_below{
	margin-top: 10px;
	text-align: left;
	font-size: 14px;
	color: #666;
}
.mui-input-group .group_below a{
	color: #007AFF;
}

/*获取验证码*/
#captcha{
	display: none;
}
#captcha .cap_up{
	text-align: left;
}
#captcha .cap_up span{
	margin-bottom: 10px;
}
#captcha .cap_center{
	font-size: 16px;
}
#captcha .cap_center input{
	width: 55%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 3%;
}
#captcha .cap_center button{
	display: inline-block;
	width: 40%;
	border: 1px solid #333;
	color: #333;
	height: 40px;
	background: none;
	vertical-align:top;
	border-radius: 5px;
	margin: 0;
}
/*获取验证码end*/

/*设置密码*/
#password{
	display: none;
}
#password input{
	margin-bottom: 10px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
/*设置密码end*/