.mui-bar-nav .mui-pull-right{
	font-size: 14px;
	line-height: 25px;
	color: #fff;
}
.mui-table-view-cell a p{
	font-size: 14px;
}
.mui-table-view-cell a span{
	display: block;
	font-size: 16px;
	padding: 5px 0;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


