//sy_carousel1
.member{
	padding: 0 10px;
}
.member img{
	width: 100%;
	height: 150px;
}
.member .introduce{
	background: #fff;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	/*box-sizing: border-box;*/
}
.member .introduce h4{
	font-size: 18px;
	color: #333;
}
.member .introduce .int_box{
	padding: 5px 0;
	border-top: 1px dashed #ccc;
}
.int_box h5{
	font-size: 16px;
	color: #4CD964;
}
.int_box i{
	position: relative;
    top: -25px;
    color: #4CD964;
}
.int_box span{
	font-size: 14px;
	color: #666;
}
.int_box ul{
	border-top: 1px dashed #ccc;
	margin-top: 10px;
}
.int_box ul li{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	text-indent:0.5em;
}
.int_box ul li span{
	 color: #2AC845;
}
.int_box ul li span b{
	color: #CF2D28;
}
.int_box #span1,#span2{
	display: none;
	padding: 5px 10px;
	text-indent:2em
}
.int_box #span1.sp_dis,#span2.sp_dis{
	display: block;
}


/*sy_carousel2*/

.service img{
	width: 100%;
	height: 180px;
}
.service .ser_box{
	padding: 0 10px 300px 10px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.service .ser_box h4{
	font-size: 18px;
	color: #333;
	padding: 10px 0;
	border-bottom: 1px dashed #f0f;
}

.service .ser_box .box_er{
	width: 100%;
	padding: 5px 0;
	color: #666;
	border-bottom: 1px dashed #f0f;
}
.service .ser_box .box_er i{
	color: #2AC845;
	font-size: 24px;
}

/*sy_carousel2*/
.company .imgs{
	width: 100%;
	height: 180px;
}
.company .com_box{
	padding: 10px;
	border: 1px solid #ccc;
}
.company .com_box p{
	font-size: 12px;
	color: #666;
	text-indent: 2em;
}
.company .com_box img{
	width: 100%;
	height: 200px;
}
