/*搜索*/
.mui-bar .mui-title{
	left: 0px;
	padding: 7px 10px;
	line-height: 30px;
	text-align: left;
}
.mui-bar .mui-title i{
	position: absolute;
	left: 20px;
	top: 10px;
}
.mui-bar .mui-title input{
	width: 90%;
	height: 30px;
	margin: 0;
	padding-left: 30px;
	border-radius: 25px;
	/*background: #fcfcfc;*/
	background: #f0f;
	border: 1px solid #fff;
	text-indent: 0.2em;
	font-size: 14px;
	color: #fff;
}
.mui-bar .mui-title input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #fff;
	}
.mui-bar .mui-title input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
	}
.mui-bar .mui-title input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
	}
.mui-bar .mui-title input::-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #fff;
	}

.mui-bar-nav a{
	font-size: 16px;
	line-height: 44px;
	/*color: #fff;*/
}
/*搜索end*/

/*浏览记录*/
#search_up ul li{
	position: relative;
    overflow: hidden;
    padding: 11px 15px;
    border-bottom: 1px solid #ccc;
    color: #666;
}

#search_up button{
	/*display: none;*/
	width: 100%;
	border: 1px solid #f0f;
	background: #F0F;
	color: #fff;
	margin-top: 20px;
}
#search_below{
	display: none;
}
/*浏览记录end*/